@media (max-width:1000px) {
    .bts{
      width: 100%;
      text-align: center;
    }
    .ss{ padding-bottom: 100px;}
}
@media (max-width:670px) {
  .ss{ padding-bottom: 100px;}

  footer {
    text-align:center;
  }
  .bts{
    width: 100%;
    text-align: center;
  }
}
