body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
*{ box-sizing: border-box;}



.all {
background-image: url(bts.img/thumb2-bts-violet-logo-4k-bangtan-boys-violet-brickwall-bts-logo.jpg);
height: 500px;
width: 100%;
background-size: cover;
text-align: center;
margin:0 auto;
}

.alt {
  color: white;
  padding-top: 200px;
  opacity: 0.7;
}
.btn {
color: white;
display: inline-block;
margin-left: 15px;
border-radius: 4px;
}
.twitter {
  background-color: skyblue;
  padding: 10px;
}
.youtube{
  background-color: red;
  padding: 10px;
}
header {
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  width: 100%;
 padding-left: 40px;
}
.menber {
  color:#5f5d60;
  background-color:#f7f7f7;
  width: 100%;
}

.menber h1 {
  text-align: center;
  margin: 0px;
  padding-top:  50px;
  padding-bottom: 20px;
}
.bts { 
  float: left;
  width: 14%;  

  text-align: center;
  padding-left:  6px ;
  background-color:#f7f7f7;
  margin-left:5px; 
}
.bts  h2{
margin: auto;

opacity: 0.4;
}
.bts img {
  opacity: 0.9;
}

.story {
margin-top: 400px;
height: 280px;
width: 100%;
color:#5f5d60;
background-color:#f7f7f7;
}
.about h2 {
  text-align: center;
background-color:
}
.dd{
  text-align: center;
  padding-top: 50px;
  font-size: 24px;
}
.ss p{
font-size: 14px;
margin:o auto;
text-align: center;
}
.wolrd {
  height: 200px;
  text-align: center;
}
.go {
  background-color:#5dca88;
opacity:0.8;
box-shadow:0 7px #1a7940;
cursor: pointer;
padding: 15px 40px;
margin-top:50px;
}

.go:active {
  position:relative;
  top:10px;
  box-shadow:none;
  }

footer {
  border-top:1px solid #eee;
  height: 200px;
  }
  footer img {
    width: 100px;
   margin-left: 40px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 20px;
    padding-left :40px; 
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgba(34, 49, 52, 0.9);
  }
